alive-progress
numpy
geopandas
psutil
pyproj
scikit-image
requests
zenodo_search


git+https://github.com/quantifyearth/iucn_modlib
git+https://github.com/quantifyearth/pyshark

pylint
mypy
pytest
types-psutil
pandas-stubs
